
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

    color: whitesmoke;
    background-color: black;

    padding-top: 12px;
    padding-left: 12px;
}

.wrapper:first-child{

    
    margin: auto 10px;
}

.app {
    margin: auto;
}

.add {

    color: whitesmoke;
    width: 45px;
    height: 45px;
    position: sticky;
    border-radius: 100%;
    position: fixed;
    border: none;
    right: 10px;
    bottom: 10px;
    border: 2px solid #50a9f7;
    background-color: #329dfa;

    cursor: pointer;
    transition: .4s ease;
}

.add:hover {

    background-color: #1e7fd4;
}

.floating-menu {

    display: none;

    width: 140px;
    padding: 5px;

    top: 35px;
    right: 0px;
    position: absolute;

    background-color: #202020;
    border-radius: 6px 0px 6px 6px;
}

.floating-menu ul {
    
    list-style-type: none;
}

.floating-menu li {

    font-size: 0.85em;
    padding: 10px;
    cursor: pointer;

    border-radius: 6px 0px 6px 6px;
}

.floating-menu li:hover {

    cursor: pointer;
    background-color: black;
}

.floating-menu li i {

    margin-right: 6px;
}

.floating-menu li 


#downloadTasks {
    right: 65px;
    bottom: 10px;

    background-color: #329dfa;
    border: 1px solid #50a9f7;
}

#downloadTasks:hover {
    background-color: rgb(85, 11, 85);
}

#uploadTasks {
    right: 120px;
    bottom: 10px;

    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(36, 36, 36);
}

#uploadTasks:hover {
    background-color: #101010;
}

header .wrapper {

    height: 80px;
}

header .title {

    display: flex;
    
    align-items: center;
    justify-content: space-between;

    position: relative;
}

header h1 {

    padding-bottom: 15px;
    font-size: 1.1em;
}

header i {

    position: relative;
}

header i:hover {

    cursor: pointer;
    color: rgba(255, 255, 255, 0.733);
}

header h2 {

    font-size: 1.0em;
}

header h3 {
    font-size: 0.9em;
}

.list .wrapper>h1 {

    font-size: 1.4em;
    color: whitesmoke   ;
    padding-top: 20px;
    padding-bottom: 20px;

    text-transform: capitalize;
}

.incomplete-sec ul, .complete-sec ul {

    list-style-type: none;
    text-decoration: none;

}

.incomplete-sec ul li .top, .incomplete-sec ul li .bottom {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.incomplete-sec ul li .top h1 {

    color: whitesmoke;
    padding-left: 5px;

    width: 100%;
}

.incomplete-sec ul li .top button {

}

input[type=checkbox] {

    border: none;
    margin: 5px;
    border-radius: 6px;
}

.incomplete-sec input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.complete-sec input[type=checkbox] {

    width: 14px;
    height: 14px;
}

.incomplete-sec li {
    font-size: 0.8em;
    padding: 5px 0px;
}

.incomplete-sec li .top i {

    padding: 8px;
    cursor: pointer;
    transition: .3s ease;
}

.incomplete-sec li .top i:hover {

    color: #555555;
    transform: scale(103%);
}

.incomplete-sec .bottom img 
{
    height: 30px;
    padding-left: 30px;
}

.incomplete-sec .bottom p {

    color: rgb(190, 190, 190);
}

.complete-sec li {

    font-size: 0.8em;
}

.complete-sec li input {
    padding-right: 15px;
}

.modal {

    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 380px;

    padding: 25px;
    border: 2px solid #1e7fd4;
    border-radius: 4px;
    background-color: #202020;
}

.modal h2 {

    text-transform: uppercase;
    text-align: center;

    font-size: 1.4em;
    padding-bottom: 20px;
}

.modal label {

    text-transform: capitalize;
    font-size: 0.9em;
    display: block;

    padding: 8px 5px;
}

.modal input {

    border-radius: 4px;
    color: whitesmoke;
    border: 1px solid #151515;
    background-color: #050505;

    height: 30px;
    width: 440px;
    padding-left: 6px;
    margin-bottom: 8px;
}

.modalBtn {

    height: 40px;
    border-radius: 4px;

    border: none;
    margin-top: 15px;
    width: 440px;
    font-weight: bold;
    color: white;
    background-color: #1e7fd4;

    transition: .4s ease;
}

.modalBtn:hover {

    cursor: pointer;
    background-color: #155894;
}

.modalBG 
{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;

    background: rgba(0, 0, 0, 0.4);
}

#modalAddList {

    height: auto;
}

select  {
    width: 250px;
    padding-left: 6px;
    color: whitesmoke;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #303030;
}